@import "../omarchy/current/theme/waybar.css";
@define-color border alpha(@foreground,0.3);
@define-color warning #F89F63;
@define-color succes #4BCD75;
@define-color critical #FF5C5C;
* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

.modules-right {
  margin-right: 3px;
}
#custom-separator {
  color: @border;
  margin: 0px 4px;
}
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-uptime{
	  margin-right: 20px;

}


#cpu,
#battery,
#memory,
#temperature,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin: 0px 4px;
  /* font-size: 10px; */
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: @critical;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}
@keyframes blink-recording {
  to {
    color: @background;
  }
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

@keyframes blink-inhibitor {
  to {
    color: @background;
  }
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.warning {
  color: @warning;
  background-color: alpha(@background, 0.9);
}
#battery.charging {
  color: @succes;
}
#battery.critical:not(.charging) {
  background-color: transparent;
  color: @critical;
}
#custom-update {
  color: @succes;
}
#mpris {
color: @foreground;
  min-width: 14px;
  margin: 0px 1px;
  padding-left: 4px;
  padding-right: 4px;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
		  margin: 0px 1px 0px 1px;
}

